name: 'Draft Release Notes'

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
      
concurrency:
  group: auto-release-notes-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update_draft_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
